#paneError {
    background-color: #000;
    display: table;
    height: 100%;
    width: 100%;
}

#paneIdle {
    background-color: #000;
    display: table;
    height: 100%;
    width: 100%;
}

    #paneIdle > table, #paneError > table {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #paneIdle > td, #paneError > td {
        background-color: #AA0000;
    }

    #paneIdle > div, #paneError > div {
        text-align: center;
        width: 100%;
        color: #FFFFFF;
        font-weight: 700;
    }


#paneOperation {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

    #paneOperation > table {
        height: 100%;
        width: 100%;
        font-size: 3em;
        text-align: center;
    }

    #paneOperation > div {
        width: 100%;
    }

        #paneOperation > div > a {
            display: table;
            margin: 0 auto;
        }

td.alarm {
    border: 1px solid #555555;
}

td.alarmbig {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

td.alarmmid {
    font-size: 56px;
    font-weight: 500;
    color: #FFFFFF;
}

td.alarmsml {
    font-size: 30px;
}

.opcolumn {
    padding: 0;
    margin: 0;
    height: 40%;
    width: 50%;
}

div.opcell {
    width: 100%;
    height: 100%;
}

.oresource {
    font-weight: bold;
    float: left;
    margin-left: 10px;
    border: 1px solid #000000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: orange;
}

div.oresource {
    padding: 15px;
}
